body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.special-header::after {
    content: "";
    display: block;
    width: 1200px;
    height: 717px;

    background-image: url("../img/welcome.png"),
                      url("../img/photo-sedona.jpg");
    background-repeat: no-repeat;
    background-position: 370px 77px, 0 -83px;
}

.main-navigation {
    margin: 0 auto;
    padding: 0;

    color: #000000;
}

.main-header-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 140px;
    height: 71px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;

    list-style: none;

    background-color: #ffffff;
}

.site-navigation li {
    width: 239px;
    padding-top: 14px;
    padding-bottom: 16px;

    text-align: center;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a:not([href]) {
    color: #766357;
}

.main-container::before {
    content: "";
    position: absolute;
    top: 507px;
    left: -1px;

    width: 1201px;
    height: 57px;
    background-image: url("../img/polygon.png");
}

.page-title {
    position: absolute;
    top: 564px;
    padding-top: 45px;
    padding-bottom: 36px;

    width: 1200px;

    background-color: #ffffff;
}

.page-title h1 {
    margin-bottom: 28px;

    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.container p {
    color: #333333;
}

.intro {
    text-align: center;
    color: #333333;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-list,
.service-list {
    margin: 0;
    padding: 0;

    line-height: 21px;
    list-style: none;
}

.block1 {
    text-align: center;
    color: #ffffff;

    background-color: #81b3d2;
}

.block1 h3 {
    padding-left: 55px;
    padding-right: 55px;

    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.block1 p {
    color: #ffffff;
}

.real-city-container {
    display: flex;
}

.real-city {
    padding-top: 32px;
    padding-left: 45px;
    padding-right: 45px;
}

.real-city p {
    margin: 0 auto;
    margin-top: 21px;
}

.real-city-image img {
    display: block;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    color: #000000;

    background-color: #ffffff;
}

.service-list p {
    color: #333333;
}

.service-item {
    box-sizing: border-box;
    max-width: 400px;
    padding: 131px 48px 65px;
}

.service-item h4 {
    position: relative;
    font-size: 21px;
    font-weight: bold;
}

.service-item .house::before {
    content: "";

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    width: 75px;
    height: 72px;

    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
}

.service-item .food::before {
    content: "";
    
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 74px;
    height: 70px;

    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
}

.service-item .souvenir::before {
    content: "";

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    width: 64px;
    height: 76px;

    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
}

.block2 {
    flex-basis: 100%;

    color: #ffffff;
    text-align: center;

    background-color: #81b3d2;
}

.block2 h3 {
    font-size: 21px;
    font-weight: bold;
}

.block2 p {
    /* margin: 0 auto; */
    margin-top: 20px;

    color: #ffffff;
}

.devil-bridge-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.devil-bridge {
    padding: 25px 48px 9px;
}

.devil-bridge-image img {
    display: block;
}

.other {
    flex-basis: 400px;
    flex-wrap: wrap;
    padding: 26px 0 45px;

    text-align: center;

    background-color: #eeeeee;
}

.other h3 {
    margin-bottom: 24px;

    font-size: 21px;
    font-weight: bold;
}

.other p,
.other span {
    color: #333333;
}

.other p {
    margin-top: 21px;
}

.hotel-search {
    text-align: center;
}

p.interest {
    margin: 0;
    margin-top: 50px;

    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.best-offers {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 47px;

    text-align: center;
    line-height: 24px;
}

.form-btn {
    position: relative;

    width: 568px;
    padding: 31px 19px;

    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #766357;
    border: none;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #604e43;
}

.form-btn:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.hotel-searching {
    position: absolute;
    left: 0;
    right: 0;

    margin: 0 auto;
    padding-top: 56px;
    padding-right: 55px;
    padding-bottom: 53px;
    padding-left: 55px;

    width: 568px;
    box-sizing: border-box;

    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
    box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.hotel-searching input[type="text"] {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #f2f2f2;
    border: 2px solid transparent;
}

.hotel-searching input[type="text"]:hover {
    background-color: #ebebeb;
}

.hotel-searching input[type="text"]:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
    outline-offset: -2px;
}

.check input[type="text"] {
    width: 309px;
    padding: 8px 0 8px 10px;
}

.check p {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 28px;
}

.check label {
    flex-basis: 100px;
    align-self: center;
    margin-right: 12px;

    text-align: left;
}

.adult-child {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    margin-bottom: 53px;
}

.adult {
    flex-basis: 226px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 53px;
}

.child {
    flex-basis: 179px;
    display: flex;
    align-items: center;
    margin: 0;
}

.adult-child input[type="text"] {
    width: 34px;
    height: 32px;

    text-align: center;
    border: 2px solid transparent;
}

.adult-block {
    display: flex;
    margin-left: 38px;
    margin-right: auto;
}

.child-block {
    display: flex;
    margin-left: auto;
}

.calendar-btn svg {
    fill-opacity: 0.3;
}

.calendar-btn {
    width: 37px;
    height: 38px;
    padding: 5px;

    text-align: center;

    background-color: #f2f2f2;
    border: none;
}

.calendar-btn svg:hover,
.calendar-btn svg:focus {
    fill: #000000;

    fill-opacity: 1;
}

.calendar-btn svg:active {
    fill: #81b3d2;
}

.plus-minus {
    width: 38px;

    font-size: 22px;
    font-weight: 700;
    color: #aaaaaa;

    background-color: #f2f2f2;
    border: none;
}

.plus-minus:hover {
    color: #000000;
}

.plus-minus:active {
    color: #81b3d2;
}

.search-btn {
    width: 458px;
    padding: 17px 0;

    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;

    color: #ffffff;
    
    background-color: #81b3d2;
    border: none;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #669ec0;
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

/* Внутренняя страница */

.housing-search {
    display: flex;
    padding-top: 26px;
    padding-right: 0;
    padding-bottom: 7px;
    padding-left: 0;
    box-sizing: border-box;

    font-weight: bold;
    color: #ffffff;

    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 -290px;
}

.housing-search fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.housing-search legend {
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}

.infrastructure-block {
    margin-left: 72px;
}

.housing-type-block {
    margin-left: 115px;
}

.price-block {
    margin-left: auto;
    margin-right: 72px;
}

.price-block legend {
    margin-bottom: 12px;
}

.infrastructure-option,
.housing-type {
    margin: 0;
    padding: 0;

    line-height: 21px;

    list-style: none;
}

.infrastructure-option li:first-child,
.housing-type li:first-child {
    margin-top: 25px;
}

.filter-option {
    margin-bottom: 25px;
    margin-left: 42px;
}

.filter-option label {
    position: relative;
    display: block;

    font-weight: normal;
}

.filter-input[checked] + label::before {
    content: "";
    display: block;
    position: absolute;
    left: -42px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.png");
    background-repeat: no-repeat;
}

.filter-input:not([checked]) + label::before {
    content: "";
    display: block;
    position: absolute;
    left: -42px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.png");
    background-repeat: no-repeat;
}

.price-range {
    position: relative;

    display: flex;
    margin-bottom: 20px;

    width: 314px;
    height: 32px;
    font-size: 0;
    line-height: 21px;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-range::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background-color: #ffffff;
    transform: translate(-50%, -50%);
}

.price-range label {
    box-sizing: border-box;
    align-self: center;

    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
}

.price-range label:first-child {
    margin-left: 65px;
}

.price-range label:last-child {
    margin-left: auto;
    margin-right: 27px;
}

.price-range span {
    align-self: center;
}

.price-range input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;
    font-weight: normal;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    width: 317px;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background-color: #ffffff;
}

.slider {
    position: absolute;
    top: -9px;
    display: inline-block;
    width: 20px;
    height: 22px;

    background-image: url("../img/filter-button.png");
}

.slider:hover,
.slider:focus {
    transform: scale(1.1);
}

.slider-max {
    left: 252px;
}

.show-button {
    display: block;
    margin: 0 auto;
    padding: 6px 34px;

    color: #ffffff;
    font: inherit;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.show-button:hover,
.show-button:focus {
    color: #000000;

    background-color: #ffffff;
}

.filters-results {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 7px;
}

.filters-results h2 {
    padding-left: 49px;

    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.filters-block1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: auto;
    margin-left: 72px;
}

.result {
    font-size: 21px;
    font-weight: bold;
    text-align: left;

    order: -1;
}

.sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;

    list-style: none;

    font-size: 12px;
    line-height: 18px;
}

.sorting-item {
    color: rgba(0, 0, 0, 0.3);
    margin-right: 33px;

    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.sorting-item:hover,
.sorting-item:focus {
    color: #81b3d2;

    border-bottom: 1px dashed #81b3d2;
}

.sorting-item:active {
    color: #000000;

    border-bottom: none;
}

.sorting-item-current a:not([href]) {
    margin-right: 33px;

    color: #81b3d2;

    border-bottom: none;
}

.increase-decrease {
    display: flex;
    margin-right: 73px;

    list-style: none;
}

.increase-decrease li {
    margin-left: 12px;
}

.increase-decrease a {
    display: block;
    width: 11px;
    height: 10px;
}

.increase {
    background-image: url("../img/icon-up-dir.png");
    background-repeat: no-repeat;
}

.increase:hover,
.increase:focus {
    background-image: url("../img/icon-up-dir-hover.png");
}

.increase:active {
    background-image: url("../img/icon-up-dir-active.png");
}

.decrease {
    background-image: url("../img/icon-down-dir.png");
    background-repeat: no-repeat;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;
}


.catalog-item {
    display: flex;
    flex-wrap: wrap;
    /* padding: 30px 72px; */

    text-align: left;

    border-top: 1px solid #e5e5e5;
}

.villas {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
    margin-top: 30px;
    margin-left: 72px;
    margin-bottom: 30px;
}

.catalog-item-image img {
    display: block;
}

.hotel-name-block {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* margin: 0; */
    margin-top: 24px;
    margin-left: 30px;
    /* padding: 0; */
}

.hotel-name {
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    /* padding-bottom: 5px; */

    /* line-height: 15px; */
}

.hotel-name a {
    display: block;

    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
    color: #81b3d2;
}

.hotel-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item p {
    line-height: 21px;
    text-align: left;
}

.description {
    margin: 0;
    padding: 0;
    margin-left: -2px;
    margin-bottom: 10px;

    color: #333333;
}

.description td {
    width: 115px;
    margin: 0;
    padding: 0;
}

.hotels-button {
    display: flex;
    
}

.hotels-button a {
    padding: 3px 17px;
    line-height: 21px;
}

.details {
    margin-right: 6px;

    font-weight: 700;
    color: #ffffff;

    background-color: #81b3d2;
}

.details:hover,
.details:focus {
    background-color: #669ec0;
}

.details:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.booking {
    font-weight: 700;
    color: #ffffff;

    background-color: #766357;
}

.booking:hover,
.booking:focus {
    background-color: #604e43;
}

.booking:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.rating-stars {
    margin-left: auto;
    margin-top: 30px;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.stars-block {
    display: flex;
    justify-content: flex-end;
}

.stars {
    margin-right: 6px;
    width: 18px;
    height: 17px;

    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
}

.rating-stars .stars:last-child {
    margin-right: 0;
}

.rating {
    margin-top: auto;
    margin-bottom: 30px;
    padding: 0 15px;

    color: #666666;

    background-color: #f2f2f2;
}

.map {
    margin: 0;
}

.main-footer {
    display: flex;

    padding-top: 13px;
    padding-bottom: 12px;
}

.main-footer-index {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #ffffff;
    opacity: 0.9;
}

.footer-feedback {
    flex-basis: 400px;
    display: flex;
    justify-content: center;

    font-size: 21px;
    font-weight: 700;
}

.footer-feedback p {
    align-self: center;
}

.footer-social-block {
    flex-basis: 400px;
    display: flex;
    justify-content: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    text-align: center;

    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    opacity: 0.3;
}

.facebook {
    margin-left: 6px;
    margin-right: 6px;
}

.footer-copyright {
    flex-basis: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright span {
    display: block;
    margin-right: 8px;
}

.copyright {
    display: block;
    width: 115px;
    height: 41px;

    font-size: 0;
}

.copyright:hover path,
.copyright:focus path {
    fill: #81b3d2;
}

.copyright:active path {
    fill: #bdbbbc;
}
